#calendar {
  position: absolute;
  top: 0px;
  right: 0;
  width: 600px;
  height: 500px;
  margin: 40px auto;
  padding: 10px;
  background-color: rgba(21, 23, 28, 0.9);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;
  overflow: hidden;
  scrollbar-width: none;
  display: none;
}

#calendar::-webkit-scrollbar {
  display: none;
}

.fc-day-today {
  background-color: rgba(13, 80, 99, 0.6) !important;
  border-radius: 4px;
  outline: 1px solid rgba(103, 33, 131, 0.377);
}

.fc .fc-toolbar-title {
  font-size: 1.5rem;
  color: white;
}

.fc .fc-button {
  background-color: #4d5b7e;
  border: none;
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.fc .fc-button:hover {
  background-color: #3c3f45;
}

.fc-theme-standard td,
.fc-theme-standard th,
.fc-scrollgrid,
.fc-scrollgrid-section,
.fc-col-header-cell,
.fc-daygrid-day {
  border: none !important;
}

.fc-daygrid-day {
  border: none !important;
}

.fc-daygrid-day-number {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: white;
  padding-top: 4px;
}

.fc-daygrid-day-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.fc-daygrid-day-events {
  display: none;
}

.fc-daygrid-day-frame:hover {
  background-color: rgba(71, 103, 112, 0.6);
  border-radius: 4px;
  cursor: pointer;
}

.fc-scrollgrid {
  box-shadow: none !important;
  border: none !important;
}

.datetime-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}

#date {
  font-size: 0.8rem;
}
