.weather-card{
  background-color: rgba(21, 23, 28, 0.7);
  backdrop-filter: blur(6px);
  height: 284px;  
  width: 450px;
  border-radius: 0 0 6px;
  position: fixed;
  top: 40px;
  left: 0;
  padding:14px;
  display: none;
}

#weather-city{
  font-size: 1.3rem;
} 

#weather{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
#weather-details{
  font-size: 1.3rem;
}

#weather-icon{
  width: 120px;
  height: 120px;
}

#image-conatiner{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

#weather-title{
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
}

#upcoming-weather{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.date-wise{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 33%;
}

#weather-toggle-icon{
  height: 80%;
  width: 80%;
}