* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
  background-image: url("/assets/bg/6.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
  color: white;
  z-index: 1;
}

#open-apps{
  height: 500px;
  width: 500px;
}

/* #open-app .window{
  
} */

.gcse-search{
  margin-top: 100px;
}

#google{
  height: 100vh;
  width: 100vw; 
  background-color: #161A1C;
  overflow-x: hidden;
}

.gsc-control-cse{
  background-color: #161A1C;
}

.google-main{
  margin-top: 50px;
}

.app-bar{
  height: 40px;
  width: 100%;
  background-color: #15181B;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 5px 16px;
  gap: 10px;
}

.app-bar img{
  height: 100%;
  &:hover{
    scale: 1.1;
  }
}